# This service is for trending data from the past year(s)

[Unit]
Description=trending battery data from past year (service)
Wants=wizbat.trend.year.timer

[Service]
Type=oneshot
User=pi
EnvironmentFile=/home/pi/.pyenvpaths
WorkingDirectory=/home/pi/wizbat
ExecStart=/home/pi/wizbat/src/pastyear.sh -

# [Install]
# WantedBy=multi-user.target
