# This service is for starting the HomeWizard battery telemetry reader

[Unit]
Description=home battery (HomeWizard BAT) telemetry service
After=multi-user.target

[Service]
Type=simple
User=pi
EnvironmentFile=/home/pi/.pyenvpaths
WorkingDirectory=/home/pi/wizbat
ExecStartPre=/home/pi/wizbat/wizbat --boot
ExecStart=/home/pi/wizbat/bin/wizbat.py --start
# stand back for 1 minute to allow for dongle to recover
RestartSec=60s
Restart=on-failure

[Install]
WantedBy=multi-user.target
