# This service is for trending data from the past month(s)

[Unit]
Description=trending water data from past month (service)
Wants=wizbat.trend.month.timer

[Service]
Type=oneshot
User=pi
EnvironmentFile=/home/pi/.pyenvpaths
WorkingDirectory=/home/pi/wizbat
ExecStart=/home/pi/wizbat/src/pastmonth.sh -

# [Install]
# WantedBy=multi-user.target
