# This service is for trending data from the past days

[Unit]
Description=trending water data from past days (service)
Wants=wizbat.trend.day.timer

[Service]
Type=oneshot
User=pi
EnvironmentFile=/home/pi/.pyenvpaths
WorkingDirectory=/home/pi/wizbat
ExecStart=/home/pi/wizbat/src/pastday.sh -

# [Install]
# WantedBy=multi-user.target
